.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    padding: 50px;
}

.closing-x {
    font-size: 30px;
    color: #5762D5;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.modal-style {
    background: #363537;
    border: 2px solid;
    border-color: #5762D5;
    border-radius: 5px;
    height: 70%;
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
}

.modal-style::-webkit-scrollbar {
    width: 3px;
    display: none;
}

.modal-style::-webkit-scrollbar-thumb {
    background: #5762D5;
    outline: 0;
    border-radius: 50px;
    box-shadow: 0, 4px, 10px rgba(0,0,0,0.5)
}

.modal-style::-webkit-scrollbar-track {
    background: #363537
}



.avatar-modal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-style {
    position: absolute;
    bottom: 20
}

.picture-name {
    display: flex;
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-right: 40px;
    margin-bottom: 35px;
    border: 4px solid;
    border-color: #5762D5;
    border-radius: 3px;
}

.picture-name-container {
    cursor: pointer;
}